@import 'base/all';

@import 'modules/tiny-slider';

@import 'partials/header';
@import 'partials/banner';
@import 'partials/insurance';
@import 'partials/about';
@import 'partials/what-we-do';
@import 'partials/professionals';
@import 'partials/care';
@import 'partials/waiting';
@import 'partials/footer';

section{
  position: relative;
  &:after{
    content:"";
    background: url('../img/bg-line.png') repeat-y 0 0/2px auto;
    position: absolute;
    left: 50%; top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
    z-index: 1;
  }
  .container{
    position: relative;
    z-index: 2;
  }
}
