#adminmenu{
  #menu-appearance,
  #toplevel_page_edit-post_type-acf-field-group,
  #menu-tools{
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 0 !important;
  }
}