.form{
  padding-bottom: 110px;
  &__wrap{
    background: #D4E0D1;
    padding: 32px 16px;
    @media(min-width:992px){
      padding: 52px 80px;
    }
  }
  h2{
    margin-bottom: 32px;
    color: #221B19;
  }
  .row{
    @media(min-width:992px){
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  img{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    @media(min-width:992px){
      margin-bottom: 0;
      width: calc(50% - 20px);
    }
  }
  form{
    @media(min-width:992px){
      width: calc(50% - 20px);
      margin-top: -20px;
    }
  }
}

.field{
  &:not(:first-child){
    margin-top: 20px;
  }
  input, textarea, select{
    width: 100%;
    font-family: 'MADE TOMMY';
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #3A3E3D;
    box-sizing: border-box;
    padding: 12px 16px;
    height: 52px;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(58, 62, 61, 0.5);
    &.error{
      color: #6D1212;
    }
  }

  input[type="submit"]{
    padding: 12px 52px;
    width: 100%;
    height: 60px;
    background: #221B19;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFEF4;
  }

  textarea{
    height: 154px;
    resize: none;
  }

  label{
    width: 100%;
    max-width: 100%;
    font-family: 'MADE TOMMY';
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #3A3E3D;
    padding: 12px 16px;
  }
}