@import 'eye';

.main-header{
  position: fixed;
  left: 0; right: 0;
  top: 0;
  z-index: 10;
  transition: background .5s ease;
  background: rgba(var(--bg-color-rgb), .2);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  &.active{
    background: var(--bg-color);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    @media(min-width:1200px){
      height: 73px;
    }
  }
  &__left{
    display: flex;
    align-items: center;
  }
  &__logo{
    display: block;
    margin-right: 30px;
    svg, img{
      width: clamp(125px, cqi(203), 203px);
      height: auto;
    }
  }
  &__nav{
    @media(max-width:1199px){
      position: fixed;
      left: 0;
      top: 41.9px;
      right: 0;
      background: var(--bg-color);
      height: calc(100vh - 41.9px);
      padding-top: 52px;
      padding-left: vw(80px);
      padding-right: vw(80px);
      visibility: hidden;
      opacity: 0;
      transition: 1s ease;
      &.active{
        visibility: visible;
        opacity: 1;
      }
    }
    @media(min-width:1200px){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    a{
      font-weight: 400;
      font-size: clamp(12px, cqi(14), 14px);
      line-height: 120%;
      text-transform: uppercase;
      text-decoration: none;
      transition: .3s ease;
      @media(max-width:1199px){
        display: block;
        font-weight: 400;
        font-size: 32px;
        line-height: 100%;
        text-transform: uppercase;
        &.btn{
          font-size: 16px;
          text-align: center;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
      &:not(:first-child){
        @media(min-width:1200px){
          margin-left: vw(24px);
        }
        @media(max-width:1199px){
          margin-top: 40px;
          &.btn{
            margin-top: 15px;
          }
        }
      }
      &:not(:last-child){
        @media(max-width:1199px){
          &.btn{
            margin-top: 40px;
          }
        }
      }
      &:hover{
        text-shadow: 0.5px 0.5px 0.5px var(--text-color);
      }
      &.current{
        font-weight: 700;
        cursor: default;
        pointer-events: none;
        &:hover{
          text-shadow: none;
        }
      }
    }
  }
  &__btn{
    width: 40px;
    padding: 4px;
    background: none;
    border: none;
    @media(min-width:1200px){
      display: none;
    }
    *{
      pointer-events: none;
    }
    span{
      display: block;
      width: 100%;
      height: 3.2px;
      background: var(--text-color);
      &:not(:first-child){
        margin-top: 4.4px;
      }
    }
    svg{
      display: none;
    }
    &.active{
      span{
        display: none;
      }
      svg{
        display: block;
      }
    }
  }
  .change-style{
    display: block;
    width: 24px;
    height: 24px;
    background: var(--bg-color);
    border-radius: 50%;
    position: relative;
    font-size: 0;
    border: 1px solid var(--text-color);
    &:before{
      content:"";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: var(--text-color);
    }
  }
}

