.insights{
  padding-bottom: 100px;
  h3{
    margin-bottom: 30px;
  }
  &__list{
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: 1fr;
    @media(min-width:768px){
      grid-template-columns: 1fr 1fr;
    }
    @media(min-width:1200px){
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__post{
    background: var(--bg-color);
    color: var(--txt-color);
    border: 1.5px solid rgba(var(--text-color-rgb), 0.6);
    padding: 24px;
    text-decoration: none;
    transition: background .5s ease;
    *{
      pointer-events: none;
    }
    &:hover{
      background: var(--loc-bg-active);
    }
  }
  &__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  &__cat{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    padding: 8px 12px;
    border: 1px solid #3A3E3D;
  }
  &__date{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
}