$first: var(--doc-first);
$second: var(--doc-second);
$third: var(--doc-third);
$center: var(--doc-center);
.professionals{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 90px;
  @media(min-width:992px){
    padding-top: 122px;
    padding-bottom: 188px;
  }
  &:before{
    content:"";
    background: url('../img/bg-linesd.png') no-repeat center bottom;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
  }
  h2{
    margin-bottom: 15px;
  }
  p{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  &__slider{
    @media(min-width:768px){
      height: 350px;
    }
    @media(min-width:992px){
      height: 330px;
    }
    @media(min-width:1200px){
      height: 500px;
    }
    &-wrap{
      padding: 10px 0 0 0;
      overflow: visible;
      margin-bottom: 22px;
      width: 75%;
      @media(min-width:768px){
        overflow: hidden;
        width: 100%;
      }
    }
  }
  &__name{
    margin-bottom: 16px;
  }
  &__desc{}
  &__doctor{
    text-align: left;
    transition: width 1s ease, background 1s ease, transform 1s ease;
    padding: 24px;
    img{
      height: auto;
      width: calc(100% - 35px);
      display: block;
      margin: 0 auto 16px auto;
    }
  }
  &__nav{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    button{
      padding: 0;
      margin: 0 15px;
      border: none;
      background: none;
      &:hover{
        opacity: .7;
      }
    }
  }
  button[data-action="stop"]{
    display: none;
  }
  .tns-ovh{
    overflow: visible;
  }
  .tns-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      width: 14px;
      height: 14px;
      border: 1.5px solid #3A3E3D;
      border-radius: 44px;
      // display: block !important;
      transition: .5s ease;
      &:not(:first-child){
        margin-left: 12px;
      }
      &.tns-nav-active{
        width: 50px;
      }
    }
  }
  .tns-slide-active{ //-----1
    z-index: 1;
    position: relative;
    background: $center;
    @media(min-width:768px){
      background: $third;
    }
    @media(min-width:992px){
      background: $second;
    }
    @media(min-width:1200px){
      background: $first;
    }
    @media(max-width:767px){
      & + .tns-item{
        background: $third;
        transform: translateX(20px);
      }
    }
    & + .tns-slide-active{ //-----2
      background: $center;
      @media(min-width:768px){
        transform: translateY(20%) scale(1.2);
        z-index: 2;
      }
      @media(min-width:992px){
        background: $third;
        transform: translateY(20%) scale(1.2);
        z-index: 2;
      }
      @media(min-width:1200px){
        background: $second;
        transform: translateY(30%) scale(1.3);
        z-index: 2;
      }
      & + .tns-slide-active{ //-----3
        @media(min-width:768px){
          background: $third;
          transform: translateY(0%) scale(1);
          z-index: 1;
        }
        @media(min-width:992px){
          background: $center;
          transform: translateY(30%) scale(1.3);
          z-index: 3;
        }
        @media(min-width:1200px){
          background: $third;
          transform: translateY(60%) scale(1.5);
          z-index: 3;
        }
        & + .tns-slide-active{ //-----4
          @media(min-width:768px){
            background: $second;
          }
          @media(min-width:992px){
            background: $third;
            transform: translateY(20%) scale(1.2);
            z-index: 2;
          }
          @media(min-width:1200px){
            background: $center;
            transform: translateY(90%) scale(1.7);
            z-index: 4;
          }
          & + .tns-slide-active{ //-----5
            @media(min-width:992px){
              background: $second;
              transform: translateY(0%) scale(1);
              z-index: 1;
            }
            @media(min-width:1200px){
              background: $third;
              transform: translateY(60%) scale(1.5);
              z-index: 3;
            }
            & + .tns-slide-active{ //-----6
              background: $second;
              @media(min-width:1200px){
                transform: translateY(30%) scale(1.3);
                z-index: 2;
              }
              & + .tns-slide-active{ //-----7
                background: $first;
                @media(min-width:1200px){
                  transform: translateY(0px);
                  z-index: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}












