.waiting{
  padding-top: 80px;
  padding-bottom: 40px;
  @media(min-width:992px){
    padding-top: 110px;
    padding-bottom: 64px;
  }
  h2{
    margin-bottom: 32px;
  }
  &__list{
    margin-top: 32px;
  }
  &__item{
    padding: 24px;
    background: var(--loc-bg);
    border: 2px solid rgba(58, 62, 61, 0.5);;
    border-radius: 1px;
    transition: 1s ease;
    &:not(:first-child){
      margin-top: 40px;
    }
    &.active{
      background: var(--loc-bg-active);
      border: 2px solid #3A3E3D;
    }
  }
  h5{
    margin-bottom: 16px;
    pointer-events: none;
  }
  p{
    margin-bottom: 16px;
    pointer-events: none;
    font-weight: 400;
  }
  // .btn{
  //   width: 100%;
  //   text-align: center;
  // }
  &__row{
    @media(min-width:992px){
      display: flex;
    }
  }
  &__left, &__right{
    width: 100%;
    @media(min-width:992px){
      width: 50%;
    }
  }
  &__left{
    @media(min-width:992px){
      padding-right: 15px;
    }
  }
  &__right{
    padding-left: 15px;
    @media(max-width:991px){
      display: none;
    }
    svg{
      width: 100%;
      height: auto;
      position: sticky;
      top: 60px;
    }
  }
  .ny_states{
    &.active{
      fill: #C1D7BB;
    }
  }
  .word{
    fill: var(--text-color);
  }
}