.waiting{
  padding-top: 80px;
  padding-bottom: 40px;
  @media(min-width:992px){
    padding-top: 110px;
    padding-bottom: 64px;
  }
  &:after{
    display: none;
  }
  h2{
    margin-bottom: 32px;
  }
  &__list{
    margin-top: 32px;
  }
  &__item{
    padding: 24px;
    background: var(--loc-bg);
    border: 2px solid rgba(58, 62, 61, 0.5);;
    border-radius: 1px;
    transition: 1s ease;
    &:not(:first-child){
      margin-top: 40px;
    }
    &.active{
      background: var(--loc-bg-active);
      border: 2px solid #3A3E3D;
    }
  }
  h5{
    margin-bottom: 16px;
    pointer-events: none;
  }
  p{
    margin-bottom: 16px;
    pointer-events: none;
    font-weight: 400;
  }
  // .btn{
  //   width: 100%;
  //   text-align: center;
  // }
  &__row{
    @media(min-width:992px){
      display: flex;
    }
  }
  &__left, &__right{
  }
  &__left{
    @media(min-width:992px){
      padding-right: 15px;
      width: 35%;
    }
  }
  &__right{
    padding-left: 15px;
    @media(max-width:991px){
      display: none;
    }
    @media(min-width:992px){
      width: 65%;
    }
  }
  &__map{
    background: url('../img/map-lines.png') no-repeat center top/100% auto;
    position: sticky;
    top: 60px;
    svg{
      max-width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .ny_states{
    &.active{
      fill: #C1D7BB;
    }
  }
  .word{
    fill: var(--text-color);
  }
  &__default{}
  &__active{
    display: none;
    &.active{
      display: block;
    }
  }
  &__area{
    &.active{
      fill: #C1D7BB;
    }
  }
  &__tab-nav{
    display: flex;
    button{
      background: none;
      border: none;
      border-bottom: 2px dashed #E7E7DE;
      font-size: clamp(16px, cqi(24), 24px);
      font-family: MADE TOMMY;
      font-style: normal;
      font-weight: 400;
      line-height: 110%;
      text-transform: uppercase;
      padding: 8px 24px;
      &.active{
        border-bottom: 3px solid #9C9E99;
        color: #221B19;
      }
    }
  }
}